/* Task 1  */
/* 
div {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    background-color: white;
    border: 10px solid;
    border-image: linear-gradient(to right, 
        red 0%, red 20%,
        #0099ff 20%, #0099ff 40%,
        #00cc00 40%, #00cc00 60%,
        #ff0099 60%, #ff0099 80%,
        #6633cc 80%, #6633cc 100%
    ) 1;
}

div::first-letter{
    color: red;
} */


/******** task 2 ********/

div {
  padding: 30px;
  background-color: #ddd;
  margin: 12px auto;
  width: 600px;
  position: relative;
  font-size: 24px;
}

div:nth-of-type(2),
div:nth-of-type(3) {
  color: rgba(0, 0, 0, 0.4); 
}

div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: linear-gradient(
    to right,
    rgb(168, 10, 10) 0%,
    rgb(183, 7, 7) 50%,
    rgb(65, 118, 80) 50%,
    rgb(47, 106, 86) 100%
  );
}







