/* .container
{
    width: 500px;
    height: 300px;
    background-color: #f2f2f4;
    text-align: center;
    margin: 50px;
    text-transform:capitalize ;
    line-height: 63px;

    transition: margin 0.5s ease;
}

.content{
    background-color: #dededc;
    width: 90%;
    height: 70px;
    margin: auto;
    text-align: center;
    line-height: 70px;
    text-transform:capitalize ;
    transition: transform 0.5s 0.5s ease;


    
}

.container:hover{
    margin-top:20px ;
}

.container:hover .content {
    transform: translateY(60px);
} */


/* task2 */
/* div {
  width: 400px;
  margin: 50px auto;
  background-color: #EEE !important;
  color: transparent;

  border: none !important;
  font-size: 20px !important;
  text-align: center;
  position: relative;
}

div::before {
  content: "Elzero";
  color: black;
  font-weight: bold;
  margin: 0 auto;
} */


/* task 3 */

/* :root {
  --mainColor: #009688;
  --mainPadding: 10px;
} */

div {
  padding: var(--mainPadding,10px);
  width: 50%;
  background-color: #EEE;
  margin: 15px;
  border: 1px solid var(--mainColor,black);
  color: var(--mainColor,red);

}


